################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EnableBankingTest/FileContentIndex
/JWTValidationAPI/.vs/EnableBankingTest/FileContentIndex/dd1f8c85-6e6f-4664-9277-ca84dd883b3c.vsidx
