################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EnableBankingTest/FileContentIndex
/JWTValidationAPI/.vs/EnableBankingTest/FileContentIndex/dd1f8c85-6e6f-4664-9277-ca84dd883b3c.vsidx
/JWTValidationAPI/.vs/EnableBankingTest/FileContentIndex/4083d7e8-20dd-4a6e-a1f8-6c6b53c5c64d.vsidx
/JWTValidationAPI/.vs/EnableBankingTest/FileContentIndex/8e769822-5c41-48ba-93e3-fa63ffdaf267.vsidx
